<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header><%= @user.user_name %></header>

    <% if logged_in? %> 
     <input type= "submit" value="Log Out">
    <% else %> 
    <input type= "submit" value="Log In">
    <% end %> 

    <%= yield %>
  </body>
</html>
