<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
    </style>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:powderblue;" >
  <h1 style="font-family:verdana;">Music App</h1>
    <% if logged_in? %>
      <button><a href="<%= new_session_url %>" style="font-family:verdana;">Sign In</a></button>
      <button><a href="<%= new_user_url %>" style="font-family:verdana;">Sign Up</a></button>
   
      <% current_user.email %>
      <form action ="<%= session_url %>" method="POST">
        <% form_authenticity_token %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
      <%end%>
    <%= yield %>
  
  </body>
</html>
